In [9]:
import sqlalchemy
import pandas as pd
import matplotlib

ModuleNotFoundError: No module named 'matplotlib'

In [3]:
redshift_endpoint1 = "redshift.madeiramadeira.com.br"
redshift_user1 = "marcus.boas"
redshift_pass1 = "aREMqXXqgZ2J"
port1 = 5439
dbname1 = "wood"

In [4]:
from sqlalchemy import create_engine
from sqlalchemy import text
engine_string = "postgresql+psycopg2://%s:%s@%s:%d/%s" % (redshift_user1, redshift_pass1, redshift_endpoint1, port1, dbname1)
engine1 = create_engine(engine_string)
##engine_solicitacao = sqlalchemy.create_engine('mysql+pymysql://lucas.valdomiro:rw5rQtHUc9ECHHFJ@portal-ro-tableau.madeiramadeira.com.br:3306/brain')

In [5]:
sql = '''
select
	to_date(a.created_at, 'YYYY-MM') as periodo,
	cast(count(a.customer_answer) as real) as qtd_respostas,
	cast(count(case when cast(a.customer_answer as real) >= 9 then 1 end) as real) as qtd_promotores,
	cast(count(case when cast(a.customer_answer as real) >= 7 and cast(a.customer_answer as real) <= 8 then 1 end) as real) as qtd_neutros,
	cast(count(case when cast(a.customer_answer as real) >= 0 and cast(a.customer_answer as real) <= 6 then 1 end) as real) as qtd_detratores,
	100*(cast(count(case when cast(a.customer_answer as real) >= 9 then 1 end) as real))/(cast(count(a.customer_answer) as real)) as perc_promotores,
	100*(cast(count(case when cast(a.customer_answer as real) >= 0 and cast(a.customer_answer as real) <= 6 then 1 end) as real))/(cast(count(a.customer_answer) as real)) as perc_detratores,
	(100*(cast(count(case when cast(a.customer_answer as real) >= 9 then 1 end) as real))/(cast(count(a.customer_answer) as real)))-(100*(cast(count(case when cast(a.customer_answer as real) >= 0 and cast(a.customer_answer as real) <= 6 then 1 end) as real))/(cast(count(a.customer_answer) as real))) as nps
from
	lake_nps.answer a
where
	a.question_id in ('3ca43b3d-a2b3-4137-ba39-ae7ba01e0e36', 'cfa32171-271d-4826-8fac-18be6659bea1', 'f0f5bac5-dd1a-4539-8ec3-d22dfc7d4dce')
    and date_part(year, date(a.created_at)) >= 2020
    and a.question_group_channel_id in  (
              '6bff3a07-5d9a-4bde-903d-1382f0774c2c',
              '8af4d314-b811-410f-ba05-056f66a86c14',
              '96374daf-1bda-4a6d-9925-c8353af985b0',
              'e631f9c2-0c44-4e0c-9546-2d09c58f0eea',
              'eaf20122-658e-4300-b8f0-6bd4ced0451a',
              'ef75ac8e-f921-4e60-ac16-94631e4dc30a',
              'b06602d8-806a-4daa-8540-cc2446894540',
              'b4a6c61c-01c5-48c2-b857-7caab412cb64')
group by 1
order by 1 desc
'''

In [6]:
rd_sql = pd.read_sql_query(text(sql), engine1)

In [8]:
copia = rd_sql.copy()
copia

,periodo,qtd_respostas,qtd_promotores,qtd_neutros,qtd_detratores,perc_promotores,perc_detratores,nps
0,2022-10-01,15828.0,11832.0,1877.0,2119.0,74.753601,13.387667,61.365934
1,2022-09-01,15420.0,11364.0,1895.0,2161.0,73.696498,14.014267,59.682231
2,2022-08-01,15749.0,11164.0,2045.0,2540.0,70.887040,16.128008,54.759032
3,2022-07-01,16585.0,11786.0,2037.0,2762.0,71.064215,16.653603,54.410612
4,2022-06-01,16040.0,11480.0,1993.0,2567.0,71.571072,16.003741,55.567332
5,2022-05-01,16240.0,11135.0,2154.0,2951.0,68.565271,18.171182,50.394089
6,2022-04-01,16495.0,11051.0,2352.0,3092.0,66.996059,18.745074,48.250985
7,2022-03-01,16987.0,11373.0,2335.0,3279.0,66.951198,19.302996,47.648202
8,2022-02-01,17270.0,12050.0,2331.0,2889.0,69.774175,16.728431,53.045744
9,2022-01-01,19375.0,13127.0,2555.0,3693.0,67.752258,19.060645,48.691613
10,2021-12-01,27785.0,18549.0,3362.0,5874.0,66.759043,21.140903,45.618139
11,2021-11-01,18053.0,12998.0,2212.0,2843.0,71.999114,15.748075,56.251039
12,2021-10-01,18093.0,13154.0,2138.0,2801.0,72.702150,15.481125,57.221025
13,2021-09-01,20190.0,14803.0,2361.0,3026.0,73.318474,14.987618,58.330857
14,2021-08-01,20768.0,15291.0,2503.0,2974.0,73.627696,14.320108,59.307589
15,2021-07-01,20970.0,15563.0,2427.0,2980.0,74.215546,14.210777,60.004769
16,2021-06-01,20388.0,14895.0,2542.0,2951.0,73.057681,14.474201,58.583480
17,2021-05-01,28507.0,20920.0,3540.0,4047.0,73.385484,14.196513,59.188971
18,2021-04-01,35586.0,26189.0,4607.0,4790.0,73.593548,13.460350,60.133198
19,2021-03-01,22514.0,16343.0,2923.0,3248.0,72.590388,14.426579,58.163809
20,2021-02-01,23826.0,17010.0,3302.0,3514.0,71.392596,14.748594,56.644002
21,2021-01-01,23428.0,16260.0,3273.0,3895.0,69.404132,16.625405,52.778726
22,2020-12-01,22936.0,16508.0,2878.0,3550.0,71.974189,15.477851,56.496338
23,2020-11-01,23840.0,16992.0,3071.0,3777.0,71.275168,15.843121,55.432047
24,2020-10-01,25022.0,17004.0,3375.0,4643.0,67.956199,18.555671,49.400528
25,2020-09-01,25439.0,17531.0,3442.0,4466.0,68.913872,17.555722,51.358151
26,2020-08-01,26691.0,18614.0,3517.0,4560.0,69.738863,17.084410,52.654453
27,2020-07-01,26573.0,18665.0,3645.0,4263.0,70.240470,16.042600,54.197870
28,2020-06-01,35596.0,23592.0,5576.0,6428.0,66.277110,18.058209,48.218901
29,2020-05-01,58051.0,42298.0,8311.0,7442.0,72.863517,12.819762,60.043755
30,2020-04-01,30909.0,23545.0,3962.0,3402.0,76.175224,11.006503,65.168721
31,2020-03-01,32590.0,24904.0,3898.0,3788.0,76.416079,11.623197,64.792881
32,2020-02-01,36028.0,27342.0,4367.0,4319.0,75.890974,11.987898,63.903075
33,2020-01-01,34534.0,24973.0,4547.0,5014.0,72.314241,14.519025,57.795216